/* GLOBAL */
body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

/* TOOLBAR */
#toolbar {
    width: 120px;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 5px;
    box-sizing: border-box;
}

#toolbar button,
#toolbar input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

/* couleur active */
.active {
    background: #00bbff;
}

/* CANVAS */
#canvas {
    flex: 1; /* prend tout l’espace restant */
    height: 100vh;
    position: relative;
    background: #EEEEEE;
    overflow: hidden;
}

/* FORMES */
.shape {
    position: absolute;
}

/* cercle */
.circle {
    border-radius: 50%;
}

/* triangle */
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

/* bloque les formes en mode dessin */
body.draw-mode .shape {
    pointer-events: none;
}
