body {
    margin: 0;
    display: flex;
}

/* Barre d'outils (à gauche) */
#toolbar {
    width: 120px;
    background: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 5px;
    box-sizing: border-box;
}

/* Séparation des "zones" dans la barre d'outils */
hr {
    border: none;
}

/* Boutons de la barre d'outils */
#toolbar button,
#toolbar input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 1px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

/* Taille des différents logos dans les boutons */
#rectangle {
    font-size: 25px;
}
#cercle {
    font-size: 30px;
}
#triangle {
    font-size: 25px;
}
#dessinMode, #deplaceMode, #supprimeMode {
    font-size: 25px;
}

/* Couleur des boutons actifs */
.active {
    background: #00bbff;
}

/* Canva (fond gris, presque blanc) */
#canvas {
    flex: 1;
    height: 100vh;
    position: relative;
    background: #EEEEEE;
    overflow: hidden;
}

/* Formes */
.shape {
    position: absolute;
}

/* Cercle */
.cercle {
    border-radius: 50%;
}

/* Triangle */
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

/* Bloque les formes en mode dessin */
body.dessin-mode .shape {
    pointer-events: none;
}
